[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
spot = {editable = true, path = "."}
tqdm = "*"
types-all = "*"
dateparser = "*"
pyrsistent = "*"
plotly = "*"
pandas = "*"
ipywidgets = "*"
datasets = "*"
transformers = "*"
wandb = "*"
libcst = "0.4.1"
sklearn = "*"
matplotlib = "*"
pytorch-lightning = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.10"
