[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libcst = "*"
mypy = "*"
spot = {editable = true, path = "."}
tqdm = "*"
types-all = "*"
dateparser = "*"
pyrsistent = "*"
plotly = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.10"
